<div class="simple clearfix">
      <div class="wrap">
        <div class="simple-content">
          <h3>Interfaz Amigable</h3>
          <p>
            Confirma tu cita sin tantas demoras y puedes pagar desde nuestra
            app.
          </p>
          <hr>
          <ul>
            <li class="clearfix">
              <img
                src="./assets/upload/ico1.png"
                height="32"
                width="32"
                alt=""
              /><span>Rapida Navegación</span>
            </li>
            <li class="clearfix">
              <img
                src="./assets/upload/ico2.png"
                height="32"
                width="32"
                alt=""
              /><span>Directorio en Constante Crecimiento</span>
            </li>
            <li class="clearfix">
              <img
                src="./assets/upload/ico3.png"
                height="32"
                width="32"
                alt=""
              /><span>Sólo los mejores especialistas</span>
            </li>
            <li class="clearfix">
              <img
                src="./assets/upload/ico4.png"
                height="32"
                width="32"
                alt=""
              /><span>Notificaciones a via email</span>
            </li>
            <li class="clearfix">
              <img
                src="./assets/upload/ico5.png"
                height="32"
                width="32"
                alt=""
              /><span>Tu información médica respaldada</span>
            </li>
          </ul>
        </div>
        <div class="simple-img">
          <img
            src="./assets/upload/screenApp.png"
            height="508"
            width="587"
            alt=""
          />
        </div>
      </div>
      <!-- /.wrap -->
    </div>