<div class="discover clearfix">
      <div class="wrap">
        <div class="discover-content clearfix">
          <h2>Descubre</h2>
          <p>
            Nuestra App Web y Móvil que conecta nuestras clínicas y consultorios con pacientes para eso 
            momentos en que necesitas un apoyo rápido y eficiente.
          </p>
          <div class="discover-button clearfix">
            <a href="#" class="button button-download">
              <span class="button-download-title">Disponible para</span>
              <span class="button-download-subtitle">Apple iOS</span>
            </a>
            <a href="#" class="button button-download android">
              <span class="button-download-title">Disponible para</span>
              <span class="button-download-subtitle">Android</span>
            </a>
          </div>
        </div>
        <div class="discover-img">
          <!-- <div class="discover-img-inside"><img src="./assets/upload/discoverApp.png" height="486" width="634" alt=""></div> -->
          <div class="comments">
            <div class="wrap discover-img-inside">
              <div class="tab">
                <div class="box visible">
                  <img
                    src="./assets/images/app/consultorio.png"
                    style="
                      width: 620px !important;
                      max-width: 540px;
                      margin: 0 auto;
                      display: flex;
                      margin-left: -165px;
                    "
                    alt=""
                  />
                </div>
                <div class="box">
                  <img
                    src="./assets/upload/discoverApp.png"
                    style="
                      width: 620px !important;
                      max-width: 560px;
                      margin: 0 auto;
                      display: flex;
                      margin-left: -165px;
                    "
                    alt=""
                  />
                </div>

                <!-- <ul class="tabs">
                                    <li class="active"></li>
                                    <li></li>
                                </ul> -->
                <!-- <a href="#" class="tab-prev"></a>
                                <a href="#" class="tab-next"></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.wrap -->
    </div>