<div class="discover clearfix" id="accesopaciente">
      <div class="wrap">
        <div class="discover-content clearfix">
          <h2>Accede</h2>
          <p>Soy Paciente y quiero acceder a la aplicación</p>
          <p>
            Con tu Teléfono Inteligente escanea y accede por tu navedador y
            sígue las instrucciones de instalación
          </p>
          <div class="discover-button clearfix">
            <a href="#" class="button button-download">
              <span class="button-download-title">Disponible para</span>
              <span class="button-download-subtitle">Apple iOS</span>
            </a>
            <a href="#" class="button button-download android">
              <span class="button-download-title">Disponible para</span>
              <span class="button-download-subtitle">Android</span>
            </a>
          </div>
        </div>
        <div class="discover-img">
          <div class="discover-img-inside">
            <img
              src="./assets/images/app/qrapppaciente.png"
              style="display: block; margin: 60px auto; width: 200px"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- /.wrap -->
    </div>