<div
    
    id="personal"
    class="discover clearfix personal"
    bis_skin_checked="1"
  >
    <div class="wrap" bis_skin_checked="1">
      <h1 class="text-center">Nuestro Equipo</h1>
      <div class="personal" bis_skin_checked="1">
        <div class="profile" bis_skin_checked="1">
          <div class="avatar" bis_skin_checked="1">
            <img
              
              src="./assets/personal/malcolm_cordova.jpg"
              alt="health connect me malcolm cordova"
            />
          </div>
          <div class="detalle">
            <div class="infoprofile">
                <h3 >Malcolm Córdova</h3>
              <p >CEO / Creative / Developer</p>
              </div>
              
              <div class="social_button" bis_skin_checked="1">
                <a
                  
                  href="https://www.linkedin.com/in/malcolm-cordova-5b5a9750/"
                  target="_blank"
                  >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  
                  href="https://www.instagram.com/health-connect-me"
                  target="_blank"
                  >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  
                  href="https://wa.me/584241874370?text=Estoy%20interesado%20en%20el%20producto%20health-connectme,%20favor%20ampliar%20informacion"
                  target="_blank"
                  >
                  <i class="fa fa-whatsapp"></i>
            </a>
              </div>
          </div>
        </div>
        <div class="profile" bis_skin_checked="1">
          <div class="avatar" bis_skin_checked="1">
            <img
              
              src="./assets/personal/raul_corredor.jpg"
              alt="health connect me raul corredor"
            />
          </div>
          <div class="detalle">
            <div class="infoprofile">
                <h3 >Raúl Corredor</h3>
                <p >Comercialización.</p>
  
            </div>
            
            <div class="social_button" bis_skin_checked="1">
              <a
                
                href="https://www.linkedin.com/in/raulcorredor"
                target="_blank"
                >
                <i class="fa fa-linkedin"></i>
                </a
              ><a
                
                href="https://wa.me/584143203684?text=Estoy%20interesado%20en%20el%20producto%20health-connectme,%20favor%20ampliar%20informacion"
                target="_blank"
                >
                <i class="fa fa-whatsapp"></i>
          </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>