/* .personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 15px;

  & .detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .profile {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 0px;

    & .infoprofile {
      display: flex;
      flex-wrap: wrap;
      align-self: baseline;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      & h3 {
        font-size: 20px;
        margin: 0;
        padding: 0;
      }
      & p {
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }

    & .social_button {
      display: flex;
      flex-direction: row;
      gap: 5px;
      & a i {
          padding: 3px;
          font-size: 24px;
          gap: 5px;

      }
    }
    & .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ccc;
      margin-bottom: 20px;
      overflow: hidden;
      border: 2px solid #fff;

      & img {
        display: block;
        width: fit-content;
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .personal {
    flex-direction: column;
    & .detalle{
        flex-direction: column;
      }
    
    & .profile {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 10px;
      & .infoprofile {
        flex-direction: column;
        text-align: start;
      }
    }
    & .avatar {
      width: 70px !important;
      height: 70px !important;

      & img {
        width: 100% ;
      }
    }
    & .social_button {
        flex-direction: row;
      }
  }
} 
  @media screen and (max-width: 768px) {
  .personal {
    flex-direction: column;
    & .detalle{
        flex-direction: column;
      }
    
    & .profile {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 10px;
      & .infoprofile {
        flex-direction: column;
        text-align: start;
      }
    }
    & .avatar {
      width: 70px !important;
      height: 70px !important;

      & img {
        width: 100% ;
      }
    }
    & .social_button {
        flex-direction: row;
      }
  }
}*/



.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 15px;

}
.personal .detalle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal .profile {
  display: flex;
  flex-wrap: wrap;
  align-self: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 0px;

  
  
}
.personal .profile .infoprofile {
  display: flex;
  flex-wrap: wrap;
  align-self: baseline;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.personal .profile .infoprofile h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.personal .profile .infoprofile p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.personal .profile .social_button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.personal .profile .social_button a i {
    padding: 3px;
    font-size: 24px;
    gap: 5px;

}
.personal .profile .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid #fff;

}
.personal .profile .avatar img {
  display: block;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .personal {
    flex-direction: column;
  }
  .personal .profile {
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
}
  .personal .profile .infoprofile {
    flex-direction: column;
    text-align: start;
  }
  .personal .social_button {
    flex-direction: row;
  }
  .personal .avatar {
    width: 70px !important;
    height: 70px !important;

  }
  .personal .avatar img {
    width: 100% ;
  }
  .personal .detalle{
    flex-direction: column;
  }
}

