<div class="comments clearfix" style="background: var(--morado)">
  <div class="wrap">
    <div class="tab">
      <div class="box visible">
        <h4>
          Unete a la mejora de nuestros servicios médicos y síguenos para más información #Klyntic.
        </h4>
        <a
                
                href="https://www.instagram.com/klyntic/"
                target="_blank"
                >
                <i class="fa fa-instagram" style="font-size: 3em;"></i>
              </a>
        <!-- <h4>
          Comentarios de Nuestros usuarios
          <a href="#">#klyntic/a>
        </h4>
        <p>
          Unete a la mejora de nuestros servicios medicos #klyntic.
        </p> -->
      </div>
      <!-- <div class="box">
        <h4>Users loving <a href="#">#klyntic/a></h4>
        <p>
          Joining this weekend's #WalkandRide fun! &#64;emmy_lemmy bring your
          dogs, we can make it a fun walk!
        </p>
      </div>
      <div class="box">
        <h4>Folks enjoying <a href="#">#klyntic/a></h4>
        <p>
          Nothing to fear, the new #WalkandRide has my tiny street covered, so
          cool and such a powerful app.
        </p>
      </div>
      <ul class="tabs">
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
      <a href="#" class="tab-prev"></a>
      <a href="#" class="tab-next"></a> -->
    </div>
  </div>
  <!-- /.wrap -->
</div>
