<div class="video clearfix" id="registromedico">
      <div class="wrap">
        <div class="video-title">
          Explora.
          <span style="color: var(--morado)">Health Connect me</span> en acción.
        </div>
        <div class="video-subtitle">
          Soy Médico, Cómo me registro y comienzo a usar?.
        </div>
        <div class="video-subtitle">
          Llena Todos los Datos a continuación y Acepta los Términos y
          Condiciones.<br> Para enviarle acceso al Demo.
        </div>

        <br /><br />
        
      </div>
      <!-- /.wrap -->
    </div>