<div class="main">
  <header>
    <div class="wrap">
      <img
        src="./assets/upload/iphone15.png"
        style="width: 250px; margin-right: 100px"
        alt=""
        class="header-img"
      />
      <div class="header-wrapper">
        <div class="d-flex" style="display: flex; flex-direction: row">
          <img
            src="./assets/svg/logoHealthConnect-02.svg"
            style="display: flex; width: 70px"
            alt=""
          />
          <h1>Health Connect Me</h1>
        </div>
        <p>
          Agiliza tu cita con el Médico Especialista, incluyendo hora y fecha.
          Organiza tus Pacientes y movimientos generales Mes a mes. Ten siempre
          a mano tus recipes y medicinas.
        </p>

        <!-- <p class="autor"><a href="#">Dan Rowinski</a></p> -->
        <div class="buttons-wrapper">
          <a href="#accesopaciente" class="button">App Pacientes</a>
          <a href="#registromedico" class="button button-stripe"
            >Registrarme como Médico</a
          >
        </div>
      </div>
      <!-- /.header-wrapper -->
    </div>
    <!-- /.wrap -->
  </header>
  <div class="spanning">
    <div class="promo clearfix">
      <div class="wrap">
        <div class="promo-wrapper clearfix">
          <div class="promo-column">
            <img src="./assets/upload/pin.png" height="32" width="24" alt="" />
            <h5>Conecta.</h5>
            <p>
              Los Pacientes pueden solicitar citas directamente con clínicas,
              consultorios y doctores directamente.
            </p>
          </div>
          <div class="promo-column">
            <img
              src="./assets/upload/saturn.png"
              height="32"
              width="32"
              alt=""
            />
            <h5>Familiar</h5>
            <p>
              Solicita la cita para un familiar sin que este registrado en la
              app, nuestro personal médico se contactará con usted para
              confirmar la cita .
            </p>
          </div>
          <div class="promo-column">
            <img
              src="./assets/upload/settings.png"
              height="32"
              width="33"
              alt=""
            />
            <h5>Observa</h5>
            <p>
              Clínicas y Consultorios podrán ver su movimiento mes a mes desde
              cualquier dispositivo.
            </p>
          </div>
          <div class="promo-column">
            <img src="./assets/upload/easy.png" height="32" width="34" alt="" />
            <h5>Fácil Manejo</h5>
            <p>
              Confirma tu cita sin tantas demoras y puedes pagar desde nuestra
              app.
            </p>
          </div>
        </div>
      </div>
      <!-- /.wrap -->
    </div>
    <!-- /.promo clearfix -->

    <!-- /.newsletter clearfix -->
  </div>
  <!-- /.spanning-columns -->
  <app-descubre></app-descubre>
  <!-- /.discover clearfix -->
  <app-video></app-video>

  <app-formulario-registro [appregistroForm]="appregistroForm" [guardarPerfil]="guardarPerfil"></app-formulario-registro>
  <!-- /.videos clearfix -->
  <app-comentarios></app-comentarios>
  <!-- /.comments clearfix -->
  <app-interfaz></app-interfaz>
  <!-- <app-accede ></app-accede> -->
  <app-personal ></app-personal>
  <!-- /.simple clearfix -->
  <app-newsletter></app-newsletter>
</div>
<!-- /.main -->
<footer>
  <div class="wrap">
    <p>&copy; Copyright {{year}} Health Connect Me - Todos los derechos reservados.</p>
  </div>
  <!-- /.wrap -->
</footer>
