<div class="main">
 


  <app-applepage></app-applepage>
  <!-- <app-spaning ></app-spaning> -->
  <app-interfaz></app-interfaz>
  <!-- /.spanning-columns -->
  <app-descubre></app-descubre>
  <app-recursos-videos></app-recursos-videos>
  <!-- /.discover clearfix -->
  <!-- <app-video></app-video> -->

  <app-formulario-registro ></app-formulario-registro>
  <!-- /.videos clearfix -->
  
  <!-- /.comments clearfix -->
  
  <!-- <app-accede ></app-accede> -->
  <!-- <app-personal ></app-personal> -->
  <!-- /.simple clearfix -->
  <app-comentarios></app-comentarios>
  <app-testimonios></app-testimonios>
  <!-- <app-alianzas></app-alianzas> -->
  <!-- <app-newsletter></app-newsletter> -->
</div>
<!-- /.main -->
<app-footer></app-footer>

